## ==========================================
## CẤU HÌNH IDE TẦNG ROOT & HỆ ĐIỀU HÀNH
## ==========================================
.vs/
.idea/
.vscode/
!.vscode/extensions.json

.DS_Store
Thumbs.db
*.log
*.sw?